*{margin: 0;padding: 0;}
table tr td{ vertical-align: top;}
ul{list-style: none;}
a{text-decoration: none;}
.header{height: 100px; background: blue;}
ul#nav{float:left;}
ul#nav li{float: left; margin: 0 10px; position: relative; }
ul#nav li a{ text-transform: uppercase;}
ul#nav li ul{position: absolute;display: none; margin-left: -10px; border: 1px solid blue;}
ul#nav li ul li{width: 13em; float: left; text-align: left; margin: 0px;}
ul#nav li:hover ul{display: block;}
